.modal-cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1010;
    background-color: #C6D6EF;
}

.cart-container {
    padding: 80px 0 70px 0;
}
