.modal-cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1010;
    background-color: #C6D6EF;
}

.cart-container {
    padding-top: 80px;
    padding-bottom: 70px;
}
