{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="card m-auto">
    <div class="card-body">
        <h4 class="card-title text-center">Офис Xcrafter</h4>
        <script type="text/javascript" 
                charset="utf-8" 
                async 
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa61bcbc87aafb40d405ce513e26362b8ca8d242c2e5c5c0d9373c29398b4f0dc&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true">
        </script>
    </div>
</div>
</div>
{% endblock %}