<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ meta_desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='favicon.png') }}" 
          rel="shortcut icon" 
          type="image/x-icon" />
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), 
            a = e.getElementsByTagName(t)[0], k.async = 1, 
            k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(53727046, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/53727046" 
                  style="position:absolute; left:-9999px;" 
                  alt="" />
        </div>
    </noscript>
    <title>{{ meta_title }}</title>
</head>

<body>
    <header>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Xcrafter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Каталог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Популярные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Свежие</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile') }}">Личный кабинет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cart') }}" class="nav-basket">Корзина
                    <span class="badge badge-pill badge-info" id="countOfProductInBadge"></span>
                </a>
            </li>
        </ul>
    </header>
    {% block content %}
    {% endblock %}
    {% if products == [] %}
        <h2>У нас есть проблемы с базой данных из-за чего не удалось загрузить товары. Попробуйте обновить страницу.</h2>
    {% endif %}
    <section id="advantage-marketplace" class="advantage-marketplace">
        <button disabled class="advantage-tool">Lorem</button>
        <h3 class="advantage-title">Lorem ipsum loren</h3>
        <p class="advantage-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <section class="advantage-list">
            <section class="advantage-item">
                <div class="advantage-item-name">
                    <div><img class="circle circle-purple"></div>
                    <h3 class="advantage-item-title">Lorem ipsum dolor sit amet</h3>
                </div>
                <p class="advantage-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </section>
            <section class="advantage-item">
                <div class="advantage-item-name">
                    <div><img class="circle circle-yellow"></div>
                    <h3 class="advantage-item-title">Lorem ipsum dolor sit amet</h3>
                </div>
                <p class="advantage-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. </p>
            </section>
            <section class="advantage-item">
                <div class="advantage-item-name">
                    <div><img class="circle circle-blue"></div>
                    <h3 class="advantage-item-title">Lorem ipsum dolor sit amet</h3>
                </div>
                <p class="advantage-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </section>
        </section>
    </section>
    <section id="subscription-form">
        <h1>Подписаться на рассылку</h1>
        <form class="mailing-form"
              action="URL"
              method="post">
            <input type="email"
                   placeholder="Ваша почта"
                   maxlength="100"
                   required>
            <input type="submit"
                   value="Подписаться">
        </form>
    </section>
    <footer class="products-footer">
        <div class="footer-copy">© 2019 XCrafter<br>Маркетплейс изделий ручной работы</div>
    </footer>
    <div id="popup-window" class="closed"></div>
    <div class="modal-overlay closed" id="modal-overlay"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>

</html>
