<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ meta_desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='favicon.png') }}" 
          rel="shortcut icon" 
          type="image/png" />
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" 
          rel="stylesheet">
    <link rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" 
          crossorigin="anonymous">
    {% assets "css_all" %}
    <link rel="stylesheet" 
          href="{{ ASSET_URL }}">
    {% endassets %}
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), 
            a = e.getElementsByTagName(t)[0], k.async = 1, 
            k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(53727046, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/53727046" 
                  style="position:absolute; left:-9999px;" 
                  alt="" />
        </div>
    </noscript>
    <title>{{ meta_title }}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">Xcrafter</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Популярные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Свежие</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile') }}">Личный кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('get_sign_in') }}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('get_registration') }}">Зарегистрироваться</a>
                    </li>
                    <li class="nav-item nav-basket">
                        <a class="nav-link" href="{{ url_for('cart') }}">Корзина
                            <span class="badge badge-pill badge-info" id="countOfProductInBadge"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contacts') }}">Контакты</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Я хочу найти..." aria-label="Поиск">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
                </form>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    {% if products == [] %}
        <h3>У нас есть проблемы с базой данных из-за чего не удалось загрузить товары. Попробуйте обновить страницу.</h3>
    {% endif %}
    <section id="advantage-marketplace" class="advantage-marketplace">
        <button disabled class="advantage-tool">Lorem</button>
        <h3 class="advantage-title">Lorem ipsum loren</h3>
        <p class="advantage-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        <section class="advantage-list">
            <section class="advantage-item">
                <div class="advantage-item-name">
                    <div class="circle circle-purple"></div>
                    <h3 class="advantage-item-title">Lorem ipsum dolor sit amet</h3>
                </div>
                <p class="advantage-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </section>
            <section class="advantage-item">
                <div class="advantage-item-name">
                    <div class="circle circle-yellow"></div>
                    <h3 class="advantage-item-title">Lorem ipsum dolor sit amet</h3>
                </div>
                <p class="advantage-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. </p>
            </section>
            <section class="advantage-item">
                <div class="advantage-item-name">
                    <div class="circle circle-blue"></div>
                    <h3 class="advantage-item-title">Lorem ipsum dolor sit amet</h3>
                </div>
                <p class="advantage-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </section>
        </section>
    </section>
    <section id="subscription-form">
        <h1>Подписаться на рассылку</h1>
        <form class="mailing-form"
              action="URL"
              method="post">
            <input type="email"
                   placeholder="Ваша почта"
                   maxlength="100"
                   required>
            <input type="submit"
                   value="Подписаться">
        </form>
    </section>
    <footer class="products-footer">
        <div class="m-auto container m-5">    
            <div class="d-grid container row content align-items-center">
                <div class="col-6 justify-content-start pl-0 description">
                    <h3>XCrafter</h3>
                    <p class="about">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Pariatur hic quasi, mollitia cumque, soluta unde iusto 
                        excepturi veniam facere aspernatur aut cupiditate sint 
                        amet veritatis nisi blanditiis a nobis omnis!
                    </p>
                    <div class="row mt-3 mb-3 ml-1">
                        <a href="#">
                            <img class="mr-3" 
                                 width="40" 
                                 src="{{ url_for('static', filename='mastercard.svg') }}"
                                 alt="mastercard">
                        </a>
                        <a href="#">
                            <img class="mr-3" 
                                 width="40" 
                                 src="{{ url_for('static', filename='visa.svg') }}" 
                                 alt="visa">
                        </a>
                        <a href="#">
                            <img class="mr-3" 
                                 width="40" 
                                 src="{{ url_for('static', filename='mir.svg') }}"
                                 alt="mir">
                        </a> 
                    </div>          
                </div>
                <div class="row justify-content-around links">
                    <ul class="col-4">
                        <span>Account</span>
                        <li><a class="" href="#">Profile</a></li>
                        <li><a class="" href="#">Settings</a></li>
                        <li><a class="" href="#">Billing</a></li>
                        <li><a class="" href="#">Notifications</a></li>                                                            
                    </ul>
                    <ul class="col-4">
                        <spanp>About</span>
                        <li><a class="" href="#">Services</a></li>
                        <li><a class="" href="{{ url_for('contacts') }}">Contact</a></li>
                        <li><a class="" href="#">Careers</a></li>
                    </ul>
                    <ul class="col-4">
                        <span>Company</span>
                        <li><a class="" href="#">Terms</a></li>
                        <li><a class="" href="#">Privacy</a></li>
                        <li><a class="" href="#">Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-grid container row footer-copy">
                <div class="col-6">
                    <div class="row justify-content-start">
                        &copy;&nbsp;2019 XCrafter. Маркетплейс изделий ручной работы
                    </div>
                </div>
                <div class="col-6">
                    <div class="row justify-content-end">
                        <a href="#"><i class="fab fa-vk mr-4"></i></a>
                        <a href="#"><i class="fab fa-instagram mr-4"></i></a>
                        <a href="#"><i class="fab fa-github mr-4"></i></a>
                        <a href="#"><i class="fab fa-facebook-square mr-4 pr-4"></i></a>
                    </div>      
                </div>
            </div>
        </div> 
    </footer>
    <div id="popup-window" class="closed"></div>
    <div class="modal-overlay closed" id="modal-overlay"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>

</html>
