{% extends "base.html" %}

{% block content %}
<div class="container m-auto modal-cart">
    <form>
        <a class="close-btn close-cart-btn"
           href="javascript:void(0)"></a>
        <h3 class="text text-center mb-3 mt-3">Оформление заказа</h3>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="input-group mb-3">
                    <select class="custom-select"
                            id="inputGroupSelect02">
                        <option selected>Доставка</option>
                        <option value="1">Без доставки</option>
                        <option value="2">С доставкой</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <select class="custom-select"
                            id="inputGroupSelect03">
                        <option selected>Способ оплаты</option>
                        <option value="1">При получении</option>
                        <option value="2">Оплатить банковской картой</option>
                    </select>
                </div>
                <h5 class="text text-center mb-3 mt-3">Основная информация</h5>
                <input type="text"
                       class="form-control mb-3"
                       id="firstname"
                       placeholder="Имя">
                <input type="text"
                       class="form-control mb-3"
                       id="lastname"
                       placeholder="Фамилия">
                <input type="telephone"
                       class="form-control mb-3"
                       id="tel"
                       placeholder="Телефон">
                <input type="text"
                       class="form-control mb-3"
                       id="address"
                       placeholder="Адрес">
                <input type="email"
                       class="form-control mb-3"
                       id="email"
                       placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <div class="container mb-3">
                    <h5 class="product-title text-center mb-3 mt-3">Корзина</h5>
                    <ul class="list-group list-group-flush mb-3">
                    </ul>
                </div>
                <button type="btn"
                        class="clear-btn btn btn-dark float-right mb-3">Очистить корзину
                </button>
                <input type="sum"
                       class="form-control mb-3 mt-3"
                       id="sum"
                       placeholder="Сумма">
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit"
                    class="btn btn-dark btn-lg col-6 mb-3">Заказать
            </button>
        </div>
    </form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='script/choice-singup.js') }}"></script>
{% endblock %}
