<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/contacts.css') }}">
    <title>Контакты</title>
</head>
<body>
    <main>
        <div class="about-us">
            <div>
                <h1>О нас</h1>
                <span>
                    Мы всегда готовы ответить на ваши вопросы и с радостью выслушаем предложения по работе магазина и
                    сайта. Свои комментарии оставляйте в форме на этой странице. Если хотите получить моментальный
                    отклик, воспользуйтесь телефонным номером.
                </span>
            </div>
            <div>
                <h1>Наш адрес</h1>
                <span>
                    Букле — магазин тканей
                    Санкт-Петербург
                    Ярославский пр-кт, 47/5
                    194017

                    Телефон: 8 (921) 905-34-68
                    Email: boukle.shop@gmail.com
                </span>
            </div>
        </div>
        <div class="feedback">
            <h1>Напишите нам</h1>
            <input type="text">
        </div>
    </main>
</body>
</html>