<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/signup-form.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main-page.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/cart.css') }}">
    <title>Catalog</title>
</head>
<body>
<header class="products-header">
    <ul class="nav">
        <li class="nav-logo">
            <a href="#">
                <img class="logo"
                     src="{{ url_for('static', filename='img/Logo.png') }}">
            </a>
        </li>
        <li class="nav-signup">
            <a class="show-btn"
               href="javascript:void(0)">
                <img class="signup-btn"
                     src="{{ url_for('static', filename='img/User.svg') }}">
            </a>
        </li>
        <li class="nav-buy">
            <div class="nav-basket">
                <img class="buy"
                     src="{{ url_for('static', filename='img/Buy.svg') }}">
            </div>
        </li>
    </ul>
</header>
<section class="catalog">
    <ul class="product-list">
        {% for product in products %}
            <div class="product-cont" data-id="{{ product.id }}">
                <li class="product-item" style="background-image: url({{ product.photo }});">
                    <div class="product-price">
                        <p>{{product.price}}</p>
                    </div>
                    <div class="product-more">
                        <div class="product-buy" onclick="buy({{ product }})">
                            <img src="static/img/Buy.svg">
                        </div>
                        <div class="test"></div>
                        <a href="./item/{{ product.id }}" class="product-search">
                            <img src="static/img/Search.svg">
                        </a>
                    </div>
                </li>
            </div>
        {% endfor %}
    </ul>
</section>

<div class="container m-auto modal-cart closed">
    <form>
        <a class="close-btn close-cart-btn"
           href="javascript:void(0)"></a>
        <h3 class="text text-center mb-3 mt-3">Оформление заказа</h3>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="input-group mb-3">
                    <select class="custom-select"
                            id="delivery">
                        <option selected>Доставка</option>
                        <option value="1">Самовывоз</option>
                        <option value="2" disabled="disabled">Доставка</option>
                    </select>
                </div>
                <div class="payment">
                    <select class="custom-select"
                            id="payment">
                        <option selected>Способ оплаты</option>
                        <option value="1">Наличные</option>
                        <option value="2" disabled="disabled">Оплатить банковской картой</option>
                    </select>
                </div>
                <h5 class="text text-center mb-3 mt-3">Основная информация</h5>
                <input type="text"
                       class="form-control mb-3"
                       id="firstname"
                       placeholder="Имя">
                <input type="text"
                       class="form-control mb-3"
                       id="lastname"
                       placeholder="Фамилия">
                <input type="telephone"
                       class="form-control mb-3"
                       id="tel"
                       placeholder="Телефон">
                <input type="text"
                       class="form-control mb-3"
                       id="address"
                       placeholder="Адрес">
                <input type="email"
                       class="form-control mb-3"
                       id="email"
                       placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <div class="container mb-3">
                    <h5 class="product-title text-center mb-3 mt-3">Корзина</h5>
                    <ul class="list-group list-group-flush mb-3">
                    </ul>
                </div>
                <button 
                        class="clear-btn btn btn-dark float-right mb-3">Очистить корзину
                </button>
                <div class="input-group col-12 mb-3 mt-3">
                    <span class="input-group-text">Общая сумма:</span>
                    <input type="number" class="form-control" id="total-payment" disabled>
                    <span class="input-group-text">₽</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit"
                    class="btn btn-dark btn-lg col-6 mb-3">Заказать
            </button>
        </div>
    </form>
</div>
<div id="user-form"
     class="user-form closed">
    <a class="close-button close-user-form-button"
       href="javascript:void(0)"></a>
    <section class="user-form-title">
        <a class="user-title open" href="#0" onclick="openSignIn()" id="open">Вход</a>
        <a class="user-title" href="#0" onclick="openRegistration()" id="close">Регистрация</a>
    </section>
    <div id="sign-in" class="sign-in">
        <form method="POST"
              action="http://localhost:5000/api/1/login"
              class="sign-list"
              id="sign-form"
              name="sign-form">
            <input type="email"
                   name="login"
                   placeholder="E-mail"
                   class="form-item form-login"
                   id="userLogin"
                   minlength="5"
                   maxlength="100"
                   required>
            <input type="password"
                   name="password-sign"
                   placeholder="Пароль"
                   class="form-item form-password"
                   id="password-sign"
                   maxlength="100"
                   minlength="8"
                   required>
            <button class="visible-password visible-login-password"
                    type="button"
                    onclick="showPassword(this)">
                <img class="visible-password-img"
                     src="{{ url_for('static', filename='img/Eye.svg') }}">
            </button>
            <input type="submit"
                   value="Отправить"
                   class="user-button"
                   id="singin-button">
        </form>
    </div>
    <div id="sing-up" class="sing-up">
        <form method="POST"
              action="http://localhost:5000/api/1/user"
              class="singup-list"
              id="singup-form"
              name="singup-form">
            <input type="text"
                   name="firstName"
                   placeholder="Имя"
                   class="form-item form-name"
                   id="userName"
                   minlength="2"
                   maxlength="100"
                   required>
            <input type="text"
                   name="secondName"
                   placeholder="Фамилия"
                   class="form-item form-surname"
                   id="userSurname"
                   minlength="2"
                   maxlength="100"
                   required>
            <input type="email"
                   name="email"
                   placeholder="E-mail"
                   class="form-item form-email"
                   id="userMail"
                   minlength="5"
                   maxlength="100"
                   required>
            <input type="tel"
                   name="phone"
                   placeholder="Телефон"
                   class="form-item form-phone"
                   id="userPhone"
                   minlength="5"
                   maxlength="100"
                   required>
            <input type="password"
                   name="password"
                   placeholder="Пароль"
                   class="form-item form-password"
                   id="password"
                   maxlength="100"
                   minlength="8"
                   required>
            <button class="visible-password"
                    type="button"
                    onclick="showPassword(this)">
                <img class="visible-password-img"
                     src="{{ url_for('static', filename='img/Eye.svg') }}">
            </button>
            <input type="password"
                   name="repeatPassword"
                   placeholder="Повторите пароль"
                   class="form-item form-repeat-password"
                   id="password-repeat"
                   maxlength="100"
                   minlength="8"
                   required>
            <button class="visible-password visible-repeat-password"
                    type="button"
                    onclick="showRepeatPassword(this)">
                <img class="visible-password-img"
                     src="{{ url_for('static', filename='img/Eye.svg') }}"></button>
            <input type="submit"
                   value="Отправить"
                   class="user-button"
                   id="singup-button">
        </form>
    </div>
</div>
<footer class="products-footer">
    <p class="footer-copy">c. Xcrafter</p>
</footer>
<div class="modal-overlay closed"
     id="modal-overlay"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/toggle-sign-mode.js') }}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='script/check-form.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='script/modal-windows.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='script/main-page.js') }}"></script>

</body>
</html>

