<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/signup-form.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main-page.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/cart.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body class="profile-content">
{% include 'header-profile.html' %}
{% block headerProfile %}
{% endblock %}
<div>
    <div class="actions-profile">
        <section class="actions-profile-orders">
            <h2 class="actions-profile-title">Мои заказы</h2>
            <p class="actions-profile-text">Здесь будет храниться история Ваших заказов</p>
            <a href="/">
                <button class="actions-profile-button profile-button">Продолжить покупки</button>
            </a>
        </section>
    </div>
</div>
<div class="profile-footer">
<footer class="products-footer">
    <div class="footer-copy">© 2019 XCrafter<br>Маркетплейс изделий ручной работы</div>
</footer>
</div>
<div class="modal-overlay closed"
     id="modal-overlay"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='script/modal-windows.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='script/main-page.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='script/profile-page.js') }}"></script>
</body>
</html>

