{% extends "base.html" %}

{% block content %}
<head>
    <title>Profile</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body class="profile-content">
{% include 'header-profile.html' %}
{% block headerProfile %}
{% endblock %}
<div>
    <div class="actions-profile">
        <section class="actions-profile-orders">
            <h2 class="actions-profile-title">Мои заказы</h2>
            <p class="actions-profile-text">Здесь будет храниться история Ваших заказов</p>
            <a href="/">
                <button class="actions-profile-button profile-button">Продолжить покупки</button>
            </a>
        </section>
    </div>
</div>
<div class="profile-footer">
<footer class="products-footer">
    <div class="footer-copy">© 2019 XCrafter<br>Маркетплейс изделий ручной работы</div>
</footer>
</div>
<div class="modal-overlay closed"
     id="modal-overlay"></div>
<script type="text/javascript"
        src="{{ url_for('static', filename='script/profile-page.js') }}"></script>
</body>
{% endblock %}
