{% block productCatalog %}
<button class="profile-button">
    <a href="/profile/addCardItem">Добавить товар в каталог</a>
</button>
<div class="main-profile">
    {% for product in products %}
    <div class="profile-product product-id-{{ product.id }}">
        <img src="{{ product.photo }}">
        <div class="profile-actions">
            <a href="/profile/editCardItem/{{ product.id }}">Изменить</a>
            <input type="button" value="Удалить" onclick="deleteItem({{ product.id }})">
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript"
        src="{{ url_for('static', filename='script/profile-product-catalog.js') }}"></script>

{% endblock %}