<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/recovery-password.css') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/signup-form.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main-page.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/cart.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/profile.css') }}">
    <title>Recovery Password</title>
</head>
<body>
{% include 'header-catalog.html' %}
{% block headerCatalog %}
{% endblock %}
<section class="recovery-page">
    <h2 class="recovery-page-title">Восстановление пароля</h2>
    <form class="form-change"
          id="form-change"
          onsubmit="sendChangePassword(event)">
        <input type="password"
               name="passwordChange"
               placeholder="Введите новый пароль"
               class="change-item"
               id="password-change"
               maxlength="100"
               required>
        <input type="password"
               name="password-change-repeat"
               placeholder="Повторите пароль"
               class="change-item"
               id="password-change-repeat"
               maxlength="100"
               required>
        <button class="visible-change-password"
                type="button"
                onclick="showChangePassword(this)">
            <img class="visible-password-img"
                 src="{{ url_for('static', filename='img/Eye.svg') }}">
        </button>
        <button class="visible-change-password visible-change-repeat-password"
                type="button"
                onclick="showChangeRepeatPassword(this)">
            <img class="visible-password-img"
                 src="{{ url_for('static', filename='img/Eye.svg') }}"></button>
        <input type="submit"
               value="Отправить"
               class="change-button"
               id="change-button">
    </form>
</section>
<div class="profile-footer">
<footer class="products-footer">
    <div class="footer-copy">© 2019 XCrafter<br>Маркетплейс изделий ручной работы</div>
</footer>
</div>
<script type="text/javascript"
        src="{{ url_for('static', filename='script/recovery-password.js') }}"></script>
</body>
</html>

