{% extends "base.html" %}

{% block content %}
<div>
    <div class="actions-profile">
        <section class="actions-profile-orders">
            <h2 class="actions-profile-title">Мои заказы</h2>
            <p class="actions-profile-text">Здесь будет храниться история Ваших заказов</p>
            <a href="/">
                <button class="actions-profile-button profile-button">Продолжить покупки</button>
            </a>
        </section>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='script/profile-page.js') }}"></script>
{% endblock %}
