
ul, li {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

button:active, button:focus {
    outline: none;
}

.catalog {
    background-color: #C6D6EF;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 60px;
}

.product-item {
    width: 300px;
    height: 340px;
    background: #FFFFFF;
    margin-right: 56px;
    margin-left: 56px;
    margin-top: 40px;
    /* background-image: url('img/Img.png'); */
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    position: relative;
}

.product-price {
    position: absolute;
    width: 100%;
    height: 68px;
    bottom: 0;
    background-color: rgba(198, 214, 239, 0.5);
}

.product-price p {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 21px;
    position: relative;
}

.product-more {
    opacity: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 68px;
    bottom: 0;
    background-color: black;
}

.product-cont:hover .product-more {
    opacity: 1;
}

.product-cont {
    cursor: pointer;
}

.product-buy {
    padding-top: 10px;
    float: left;
    padding-left: 65px;
}

.product-search {
    padding-top: 12px;
    float: right;
    padding-right: 65px;
}

.product-search:hover,
.product-buy:hover {
    opacity: 0.4;
}

.product-search:active,
.product-buy:active {
    opacity: 0.2;
}

.product-price p::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 37px;
    background-color: #000;
    left: 20%;
    top: 15px;
}

.product-price p::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 37px;
    background-color: #000;
    right: 20%;
    top: 15px;
}

.products-footer {
    background-color: #000;
    height: 80px;
}

.footer-copy {
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    opacity: 0.8;
    line-height: 80px;
    text-align: right;
    padding-right: 56px;
}

.products-header {
    background-color: #000;
    padding-right: 56px;
    padding-left: 56px;
    height: 70px;
}

.nav {
    display: flex;
}

.logo {
    padding-top: 6px;
    width: 160px;
    height: 69px;
}

.buy {
    width: 30px;
    height: 30px;
    margin-top: 17px;
}

.nav-buy,
.nav-logo {
    position: relative;
}

.nav-logo {
    width: 10%;
}

.nav-buy {
    margin-left: 20px;
}

.nav-item {
    color: #ffffff;
    cursor: pointer;
}

.nav-item:hover,
.nav-item:active {
    opacity: 0.8;
}

.nav-item-catalog {
    width: 65%;
}

.visible-title {
    width: 1px;
    height: 44px;
    background-color: #C6D6EF;
    position: absolute;
    left: 50%;
    margin-left: -0.5px;
    top: 50%;
    margin-top: -22px;
}

.closed {
    display: none;
}

#modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.6;
}

.buy-title {
    margin-top: 20px;
    margin-left: 5px;
}

.nav-basket, .nav-signup{
    display: flex;
    flex-wrap: nowrap;
}

.signup-title {
    margin-top: 20px;
    margin-left: 5px;
}

.nav-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    display: flex;
}

.nav-search-form {
    width: 500px;
}

.hamburger {
    width: 18px;
    height: 12px;
    padding-bottom: 20px;
    margin-right: 7px;
}

.hamburger-bar {
    position: relative;
    display: block;
    width: 18px;
    height: 2px;
    margin-top: 3px;
    transition: .3s;
    border-radius: 10px;
    background-color: #fff;
}

.nav-search-button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #17a2b8;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 7px;
    color: #fff;
}

.search-item {
    width: 500px;
    background-color: #fff;
    border: none;
    padding: 8px 4px;
}

.search-item:focus::placeholder {
    opacity: 0;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    background-color: #17a2b8;
    border: none;
    padding: 8px 18px;
    color: #fff;
}

.search-form-container {
    position: relative;
}

.nav-catalog {
    background-color: #17a2b8;
    color: #fff;
    border: 1px solid #17a2b8;
    padding: 5px 20px;
    margin-top: 15px;
}

.nav-catalog:hover {
    opacity: 0.8;
}
