.form-change {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.change-item {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 18px;
}

.recovery-page {
    width: 600px;
    margin: 80px auto 0 auto;
    text-align: center;
}

.change-button {
    width: 267px;
    height: 55px;
    background: #000000;
    color: #fff;
    border: none;
    margin: 0 auto;
    font-size: 18px;
}

.recovery-page-title {
    border-bottom: 2px solid #f1f1f1;
    font-weight: 900;
    padding-bottom: 16px;
    font-size: 36px;
    margin-bottom: 60px;
}

.visible-change-password {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0.5%;
    left: 91%;
    outline: none;
}

.visible-change-password:active, .visible-change-password:focus {
    outline: none;
}

.visible-change-repeat-password {
    top: 33.5%;
}

