a {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.user-form {
    position: fixed;
    width: 50%;
    background-color: #C6D6EF;
    z-index: 1010;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../img/Close.svg');
    width: 20px;
    height: 20px;
    margin-top: -30px;
    margin-right: -30px;
}

.form-item {
    width: 80%;
    margin-top: 30px;
    padding-left: 50px;
    position: relative;
}

.singup-list,
.sign-list {
    margin-bottom: 20px;
    text-align: center;
}

.user-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;
    font-size: 30px;
    font-weight: normal;
    background-color: #000;
    color: #C6D6EF;
    opacity: 1
}

.user-title:hover {
    opacity: 0.5;
    color: #C6D6EF;
}

.signup-btn {
    width: 40px;
    height: 40px;
    margin-top: 18px;
}

.user-button {
    width: 267px;
    height: 55px;
    background: #000000;
    color: #fff;
    border: none;
    margin-top: 40px;
}

.visible-password {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 64.5%;
    left: 82%;
    outline: none;
}

.visible-password:active, .visible-password:focus {
    outline: none;
}

.visible-repeat-password {
    top: 75%;
}

.visible-login-password {
    top: 57.5%;
}

.visible-password-img {
    width: 30px;
    height: 30px;
}

.sing-up {
    display: none;
}

.sign-in {
    display: block;
}

.user-form-title {
    display: flex;
}

.open {
    background-color: #C6D6EF;
    color: #000000;
}

.open:hover {
    color: #000000;
}

.form-login {
    background-image: url(../img/Login.svg);
    background-position: 3px 3px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.form-password {
    background-image: url(../img/Password.svg);
    background-position: 9px 3px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.form-name {
    background-image: url(../img/Name.svg);
    background-position: 5px 1px;
    background-repeat: no-repeat;
}

.form-surname {
    background-image: url(../img/Surname.svg);
    background-position: 7px 1px;
    background-repeat: no-repeat;
}

.form-email {
    background-image: url(../img/Mail.svg);
    background-position: 5px 0;
    background-repeat: no-repeat;
}

.form-phone {
    background-image: url(../img/Phone.svg);
    background-position: 8px 3px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.form-repeat-password {
    background-image: url(../img/Repeat-pass.svg);
    background-position: 9px 3px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
