{% extends "base.html" %}

{% block content %}
<div class="container m-auto">
    <form>
        <h3 class="text text-center mb-3 mt-3">Оформление заказа</h3>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="input-group mb-3">
                    <select class="custom-select" id="delivery">
                        <option selected>Доставка</option>
                        <option value="1">Самовывоз</option>
                        <option value="2" disabled="disabled">Доставка</option>
                    </select>
                </div>
                <div class="payment">
                    <select class="custom-select" id="payment">
                        <option selected>Способ оплаты</option>
                        <option value="1">При получении</option>
                        <option value="2" disabled="disabled">Оплатить банковской картой</option>
                    </select>
                </div>
                <h5 class="text text-center mb-3 mt-3">Основная информация</h5>
                <input type="text" name="firstname" class="form-control mb-3" id="firstname" placeholder="Мария">
                <input type="text" name="lastname" class="form-control mb-3" id="lastname" placeholder="Петрова">
                <input type="tel" name="tel" class="form-control mb-3" id="tel" placeholder="+7 999 999-99-99">
                <input type="text" name="address" class="form-control mb-3" id="address" placeholder="СПб, ул. Ленина, д.11, корп.1, кв.11">
                <input type="email" name="email" class="form-control mb-3" id="email" placeholder="name@example.com">
            </div>
            <div class="form-group col-md-6">
                <div class="mb-3">
                    <h5 class="product-title text-center mb-3 mt-3">Корзина</h5>
                    <div class="card">
                       <table class="table table-hover shopping-cart-wrap">
                            <thead class="text-muted">
                                <tr>
                                    <th scope="col">Товар</th>
                                    <th scope="col" width="120">Количество</th>
                                    <th scope="col" width="120">Цена</th>
                                    <th scope="col" class="text-right" width="200">Удалить</th>
                                </tr>
                            </thead>
                            <tbody class="product-group">
                            </tbody>
                    </table>
                    </div>
                </div>
                <button class="clear-btn btn btn-dark float-right mb-3 mr-3">
                    Очистить корзину
                </button>
                <div class="input-group col-12 mb-3 mt-3">
                    <span class="input-group-text">Общая сумма:</span>
                    <input type="number" class="form-control" id="total-payment" disabled>
                    <span class="input-group-text">₽</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-dark btn-lg col-6 mb-3">
                Заказать
            </button>
        </div>
    </form>
</div>
{% endblock %}
