{% extends "base.html" %}

{% block content %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/recovery-password.css') }}">
<section class="recovery-page">
    <h2 class="recovery-page-title">Восстановление пароля</h2>
    <p style="margin-bottom: 20px;">Для получения нового пароля введите ваш email.</p>
    <form class="form-change"
          action="/api/v1/recovery-password"
          method="post"
          id="form-change"
          onsubmit="sendChangePassword(event)">
        <input type="email" name="email" class="change-item" placeholder="example@example.ru">
        <input type="submit"
               value="Отправить"
               class="change-button"
               id="change-button">
    </form>
</section>
{% endblock %}

