{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="form-group" id="signupModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title">Регистрация</h5>
                </div>
                <div class="modal-body">
                    <form method="post"
                          action="{{ url_for('registration') }}"
                          id="sign-up">
                        <div class="form-group">
                            <label for="surname">Фамилия</label>
                            <input type="text" 
                                   name="surname"
                                   class="form-control" 
                                   id="surname"
                                   placeholder="Кузнецов">
                        </div>
                        <div class="form-group">
                            <label for="name">Имя</label>
                            <input type="text"
                                   name="name"
                                   class="form-control"
                                   id="name"
                                   placeholder="Борис">
                        </div>
                        <div class="form-group">
                            <label for="email">Электронная почта</label>
                            <input type="email" 
                                   name="email" 
                                   class="form-control" 
                                   id="email" 
                                   placeholder="name@example.com">
                        </div>
                        <div class="form-group">
                            <label for="phone">Телефон</label>
                            <input type="tel" 
                                   name="phone" 
                                   class="form-control" 
                                   id="phone" 
                                   placeholder="+7 999 999-99-99">
                        </div>
                        <div class="form-group">
                            <label for="password">Введите пароль</label>
                            <input class="form-control is-invalid" 
                                   type="password" 
                                   id="password" 
                                   name="password">
                            <div class="invalid-feedback">
                                Ваш пароль недостаточно надежен
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password2">Подтвердите пароль</label>
                            <input class="form-control is-invalid"
                                   type="password" 
                                   id="password2" 
                                   name="password">
                            <div class="invalid-feedback">
                                Пароли не совпадают
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="agreement"
                                       id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Согласен на обработку персональных данных
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-dark" type="submit">Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
