{% extends "base.html" %}

{% block content %}
<form class="container col-5 question-form"
      action="URL"
      method="post"
      onsubmit="sendUserQuestion()">
    <div class="form-group text-center">
        <label for="userQuestion"
               class="mb-4 question-form-title">
                Задать вопрос:
        </label>
        {% if current_user.is_authenticated %}
        {% else %}
        <div class="form-group">
            <input type="email"
                   class="form-control"
                   id="unsavedEmail1"
                   aria-describedby="emailHelp"
                   placeholder="Введите свой E-mail"
                   required>
        </div>
        {% endif %}
        <div class="form-group">
            <select id="questionCategory" class="form-control">
                <option selected>Информация о товаре</option>
                <option>Оплата</option>
                <option>Доставка</option>
                <option>Наличие товара</option>
                <option>Другое</option>
            </select>
        </div>
        <textarea placeholder="Введите интересующий Вас вопрос..."
                  class="form-control"
                  required
                  rows="3"
                  id="userQuestion"></textarea>
    </div>
    <div class="text-center mt-5">
        <button type="submit"
                class="btn btn-dark btn-lg btn-block">
                Задать вопрос
        </button>
    </div>
</form>
{% endblock %}
