{% extends "base.html" %}

{% block content %}
<form class="container col-5 question-form"
      action="{{ url_for('getanswerthequestion') }}"
      method="GET"
      onsubmit="sendUserQuestion()">
    <div class="form-group text-center">
        <label for="userQuestion"
               class="mb-4 question-form-title">
                Задать вопрос:
        </label>
        {% if current_user.is_authenticated %}
        {% else %}
        <div class="form-group">
            <input type="email"
                   class="form-control"
                   id="unsavedEmail1"
                   aria-describedby="emailHelp"
                   placeholder="Введите свой E-mail"
                   name="userEmail"
                   required>
        </div>
        {% endif %}
        <div class="form-group">
            <select id="questionCategory"
                    class="form-control"
                    name="questionCategory">
                <option value="info" selected>Информация о товаре</option>
                <option value="paying">Оплата</option>
                <option value="delivery">Доставка</option>
                <option value="product_availability">Наличие товара</option>
                <option value="other">Другое</option>
            </select>
        </div>
        <textarea placeholder="Введите интересующий Вас вопрос..."
                  class="form-control"
                  required
                  rows="3"
                  id="userQuestion"
                  name="userQuestion">
        </textarea>
    </div>
    <div class="text-center mt-5">
        <button type="submit"
                class="btn btn-dark btn-lg btn-block">
                Задать вопрос
        </button>
    </div>
</form>
{% endblock %}